
:root {
    --primary__color: #2196F3;
    --black__color: #000000;
    --mt__ttip: calc(100% + 10px);
    --white__color: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    font-family: 'Open Sans',sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

input, button {
    outline: none;
    border: none;
    border-radius: 4px;
}

input:focus {
    box-shadow: none;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(37, 41, 46, 0.95);
    display: none;
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 4;
    animation: growth linear 0.1s;
}

.btn {
    margin: 5px;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    min-width: 64px;
    height: 36px;
    display: flex;
    align-items: center;
}

.btn:focus {
    box-shadow: none;
}

.btn--diss {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.05);
}

.btn--diss:hover {
    color: rgba(0, 0, 0, 0.26);
}

.btn--nobgr {
    background-color: transparent;
    height: 30px;
    padding: 6px 8px;
    font-size: 1rem;
}

.btn--nobgr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn--nobgr i {
    margin-left: 5px;
}

.bsd {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 
    0px 3px 4px 0px rgb(80 80 80 / 14%), 
    0px 3px 3px -2px rgb(80 80 80 / 12%);
    border-radius: 8px;
}

.btn.bgr--blu:hover {
    background-color: #1565C0;
}

.btn.bgr--green:hover {
    background-color: #00796B;
}

.ttip-block {
    position: relative;
}

.ttip {
    position: absolute;
    z-index: 999;
    top: var(--mt__ttip);
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    text-align: center;
    display: none;
    cursor: pointer;
}


.ttip-block:hover .ttip{
    display: block;
}

/* .ttip::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent;
    height: 20px;
} */

@keyframes nextBot {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        opacity: 1;
        height: 103px;
    }
}

@keyframes nextRight {
    from {
        opacity: 0;
        transform: translateX(-500%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show__ball {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes virtual {
    0% {opacity: 0;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.none {
    display: none;
}

.bgr--whi {
    background-color: #FFFFFF;
}

.bgr--green {
    background-color: #03af76;
    color: #FFFFFF;
}

.bgr--green:hover {
    color: #FFFFFF;
}

.bgr--yel {
    background-color: #ecf38d;
    color: var(--black__color);
}

.bgr--yel:hover {
    color: var(--black__color);
}

.bgr--blu {
    background-color: #598aee;
    color: #FFFFFF;
}

.bgr--blu:hover {
    color: #FFFFFF;
}

.bgr--opacblu {
    background-color: #51dfe4;
    color: var(--black__color);
}

.bgr--opacblu:hover {
    color: var(--black__color);
}

.bgr--pin {
    background-color: #F86C96;
    color: #FFFFFF;
}

.bgr--pin:hover {
    color: #FFFFFF;
}


.home-block {
    padding: 0;
}

.home {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

.home__nav-block {
    padding: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
}

.home__nav-block.compact {
    width: 60px;
}

.home__nav-block.compact:hover {
    width:  240px;
}

.home__nav-block.compact:hover .home__nav-item-name {
    display: inline !important;
}

.home__nav-block.compact:hover .home__nav-item-title-icon {
    display: block !important;
}

.home__nav-block.compact:not(:hover) .home__nav-son { 
    display: none;
} 

.home__nav-block.compact {
    width: 60px;
}

.home__nav-block.compact:hover {
    width:  240px;
}

.home__nav-block.compact:hover .home__nav-item-name {
    display: inline !important;
}

.home__nav-block.compact:hover .home__nav-item-title-icon {
    display: block !important;
}

.home__nav-block.compact:not(:hover) .home__nav-son { 
    display: none;
} 

.home__nav-control {
    position: absolute;
    z-index: 99999999;
    top: 12px;
    left: 220px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 2px 40px -5px var(--primary__color);
    background-color: #E3F2FD;
    animation: nextRight 0.3s linear;
}

.home__nav-control-icon {
    margin: auto;
    color: var(--primary__color);
    font-size: 2rem;
}


.home__nav-block.compact .home__nav-control{
    left: 14px;
    animation: fadeIn 0.3s linear;
}

.home__nav {
    background-color: #FFFFFF;
    width: 100%;
}

.home__nav-i4 {
    width: 100%;
    height: 64px;
    padding: 10px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7EFFE;
    position: absolute;
    z-index: 9999999;
}

.home__nav-i4-logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.home__nav-i4-name {
    color: #FF0000;
    font-weight: bold;
    font-size: 1.3rem;
}

.home__nav-list {
    padding: 16px 12px 40px 0;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.home__nav-list::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.home__nav-list::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
} 

.home__nav-list::-webkit-scrollbar-thumb {
    background-color: #B2B2B2;
    border-radius: 4px;
}


.home__nav-item {
    margin: 8px 0;
    position: relative;
    list-style: none;
}

.home__nav-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px 8px 8px 24px;
    height: 100%;
    border-radius: 0 24px 24px 0;
    height: 48px;
    cursor: pointer;
}

.home__nav-item-title-icon {
    padding: 10px;
}

.home__nav-item-link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px 0 8px 24px;
    height: 100%;
    border-radius: 0 24px 24px 0;
    height: 48px;
}

.home__nav-item-link:hover, .home__nav-item-title:hover {
    background-color: rgba(80,80,80, 0.05);
}

.home__nav-item-icon {
    margin-right: 10px;
    min-width: 20px;
}

.home__nav-son {
    margin-top: 10px;
    animation: nextBot 0.2s linear;
    padding-left: 0;
}

.home__nav-item.active .home__nav-item-box .home__nav-son {
    display: block !important;
}

.home__nav-son-item-title {
    color: #00BFA5;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}   

.home__nav-son-item {
    margin-right: 4px 0;
    padding: 4px 0;
}

.home__nav-son-item-link {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    display: block;
    line-height: 3.6rem;
    border-radius: 0 24px 24px 0;
    height: 36px;
    padding: 0 16px 0 80px;
}

.home__nav-son-item-link:hover {
    background-color: rgba(80,80,80, 0.05);
}


.home__content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    border-top: 1px solid #E0E0E0;
    margin-top: 20px;
}

.home__content-footer-logo-block {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.home__content-footer-logo {
    width: 100%;
    height: 100%;
}

.home__content-footer-desc {
    font-size: 1.3rem;
}

.home__content-footer-desc-text {
    color: var(--black__color);
    display: block;
}


.home__content-header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
    height: 64px;
    background-color: #2196F3;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
}

.home__content-header-zoom {

}   

.home__content-header-acti {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.home__content-header-acti-btn {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: transparent;
}

.home__content-header-acti-btn-ttip {
    width: 50px;
    top: calc(var(--mt__ttip) + 5px);
}

.home__content-header-acti-btn-ttip--w {
    width: 90px;
}

.home__content-header-acti-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.home__content-header-acti-btn i {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.home__content-header-acti-detail {
    font-size: 1.2rem;
    margin-left: 10px;
    height: 44px;
    display: flex;
    align-items: center;
}

.home__content-header-acti-detail-logo {
    height: 22px;
    width: 22px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 5px;
}

.home__content-header-acti-control {
    padding: 5px 10px;
    height: 30px;
    width: 84px;
    background-color: #00BFA5;
    margin-left: 10px;
    border-radius: 50px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}

.home__content-header-acti-control:hover {
    background-color: #00796B;
}
