.DxMint {
    margin: 0 20px;
}

.DxMint__header {
    padding: 20px;
}

.DxMint__body-nav-block {
    display: flex;
    justify-content: center;
}

.DxMint__body-nav-item {
    text-transform: uppercase;
    font-weight: 600;
    color: #9B9B9B;
    font-size: 1.4rem;
}

.DxMint__body-nav-item.active {
    color: var(--primary__color);
}

.DxMint__body-create {
    padding: 20px;
}

.DxMint__body-create-select {
    border: 1px solid #ADADAD;
    border-radius: 8px;
    padding: 5px 5px 0;
}

.DxMint__body-create-select:focus {
    background-color: #F2F2F2;
}

.DxMint__body-create-select-title {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    font-weight: 300;
}

.DxMint__body-create-form-group {
    margin-bottom: 20px;
}

.DxMint__body-create-form-group.no-mb {
    margin-bottom: 0;
}

.DxMint__body-create-form-acti {
    display: flex;
}

.DxMint__body-create-form-acti-btn {
    margin: auto;
}

.DxMint__body-manage-block {
    display: flex;
}

.DxMint__body-manage-select {
    width: 210px;
    margin: 30px auto;
}

.DxMint__body-create-block {
    padding: 0 10px;
    margin-bottom: 50px;
}
/* 
.DxFarilxDash__active.DxFarilxDash__active--mb {
    display: none;
} */

@media screen and (max-width: 64em){
    
}

@media screen and (max-width: 63.938em) {
    .home__content-body.mt30 {
        margin-top: 30px;
    }

   .DxFarilxDash__active {
       margin-left: 0px;
       margin-right: 0px;
   }

   .DxMint {
       margin: 0 10px;
   }

}

@media screen and (min-width: 46.250em) and (max-width: 63.938em){

}

@media screen and (max-width: 46.188em) {
    .DxFarilxDash__active.DxFarilxDash__active--dxmint {
        display: none;
    }

    .DxFarilxDash__active.flex-column .DxFarilxDash__active-btn.mb {
        margin-bottom: 10px;
    }
    
    .DxFarilxDash__active-btn {
        font-size: 1.4rem;
    }
}