
.home-block {
    padding: 0;
}

.home {
    padding: 0;
    margin: 0;
}

.home__nav-block {
    padding: 0;
}

.home__nav {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.home__nav::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.home__nav::-webkit-scrollbar {
    width: 0px;
    /* width: 8px; */
    border-radius: 4px;
} 

.home__nav::-webkit-scrollbar-thumb {
    background-color: #B2B2B2;
    border-radius: 4px;
}

.home__nav-i4 {
    width: 100%;
    padding: 10px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7EFFE;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.home__nav-i4-logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.home__nav-i4-name {
    color: #FF0000;
    font-weight: bold;
    font-size: 1.3rem;
}

.home__nav-list {
    padding: 16px 12px 40px 0;
}

.home__nav-item {
    margin: 8px 0;
    position: relative;
    /* height: 48px; */
}

.home__nav-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px 8px 8px 24px;
    height: 100%;
    border-radius: 0 24px 24px 0;
    height: 48px;
    cursor: pointer;
}

.home__nav-item-title-desc {

}

.home__nav-item-title-icon {
    padding: 10px;
}

.home__nav-item-link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px 0 8px 24px;
    height: 100%;
    border-radius: 0 24px 24px 0;
    height: 48px;
}

.home__nav-item-link:hover, .home__nav-item-title:hover {
    background-color: rgba(80,80,80, 0.05);
}

.home__nav-item-icon {
    margin-right: 10px;
    min-width: 20px;
}

.home__nav-son {
    display: none;
    margin-top: 10px;
    animation: nextBot 0.2s linear;
    padding-left: 0;
}

/* .form-check-input:checked ~ .home__nav-son {
    display: block;
} */

.home__nav-item.active .home__nav-item-box .home__nav-son {
    display: block !important;
}
                            

/* 
.home__nav-item-link.active .home__nav-son {
    display: block;
} */

.home__nav-son-item-title {
    color: #00BFA5;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}   

.home__nav-son-item {
    margin-right: 4px 0;
    padding: 4px 0;
}

.home__nav-son-item-link {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    display: block;
    line-height: 3.6rem;
    text-align: center;
    border-radius: 0 24px 24px 0;
    height: 36px;
}

.home__nav-son-item-link:hover {
    background-color: rgba(80,80,80, 0.05);
}


.home__nav-item-title-icon-item--up {
    display: none;
}

.home__content {
    background-color: #00BFA5;
    min-height: 100vh;
}
