
.home__content {
    background-color: #FAFAFA;
    min-height: 100vh;
    flex: 1;
    padding-top: 50px;
    padding-left: 240px;
}

.home__content.compact {
    padding-left: 60px;
}

.home__content-body {
    margin-top: 30px;
}

.home__content-body-box-block {
    display: flex;
    padding: 8px;
}

.home__content-body-box {
    margin: auto;
    border-radius: 50px;
    padding: 20px 50px;
    text-align: center;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px 3px 6px rgb(163, 162, 162);
    position: relative;
    overflow: hidden;
}

.home__content-body-box:hover {
    transform: scale(1.02);
}

.home__content-body-box--diss:hover {
    transform: scale(1);
}


.home__content-body-box::before {
    position: absolute;
    content: '';
    top: 0;
    left: -30px;
    width: 3000px;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    animation: show__ball 0.3s ease-in-out;
    display: none;
}

.home__content-body-box:hover.home__content-body-box::before {
    display: inline-block;
}

h2.home__content-body-box-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 13px;
}

h3.home__content-body-box-desc {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 9px 0;
    margin-bottom: 9px;
}

h3.home__content-body-box-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.home__content-body-box-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.home__content-body-box-item svg{
    margin-bottom: 10px;
}

h4.home__content-body-box-item-desc {
    font-weight: bold;
    font-size: 1.6rem;
}

h2.home__content-body-box-item-number {
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 1250px){
    .home__content-body-box {
        width: 55%;
    }
    
    .home__nav-block {
        display: none;
    }
}

@media (min-width: 1200px){
    .home__content-body-box {
        width: 55%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home__content-body-box {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home__content-body-box {
        width: 70%;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .home__content-body-box {
        width: 80%;
    }
}

